<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="${REACT_APP_STATIC_PATH}assets/favicon.ico"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="manifest"
      href="${REACT_APP_STATIC_PATH}assets/manifest.json"
    />
    <link
      rel="shortcut icon"
      href="${REACT_APP_STATIC_PATH}assets/favicon.ico"
    />
    <title>React App</title>
    <script type="text/javascript">window.your_app_env=${REACT_APP_STATIC_VARIABLE_OBJECT};</script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script defer="defer" type="text/javascript" src="${SCRIPT_PATH}"></script>
  </body>
</html>
